/* Tutti i paragrafi colorati di blu */
p {
    color: blue;
}

/* Tutti gli elementi che hanno la classe "testo-rosso" */
.testo-rosso {
    color: red;
}

/* L'elemento con ID "sezione-2" */
#sezione-2 {
    color: purple;
}

/* Tutti gli elementi di tipo A che hanno la classe "testo-rosso" */
a.testo-rosso {
    color: brown;
}

/* Tutti gli elementi di tipo A che hanno le classi "testo-rosso" E "testo-marrone" */
a.testo-rosso.testo-marrone {
    color: darkred;
}

/* 
    Tutti gli elementi di tipo A racchiusi all'interno
    di un paragrafo con classe "testo-principale" 
*/
p.testo-principale a {
    color: yellow;
}

/*
    Tutti gli elementi figli di un paragrafo
*/
p > * {
    color: green;
}

/*
    Seleziona l'elemento di tipo A su cui l'utente ha il mouse
*/
a:hover {
    color: white;
}

/*
    Seleziona gli elementi che NON hanno classe "io-no" 
*/
:not(.io-no) {
    color: blue;
}

/*
    Selezione dei figli
*/
:first-child { /* PRIMO FIGLIO */ }
:last-child { /* ULTIMO FIGLIO */ }
:nth-child(2) { /* N-simo FIGLIO (in questo caso secondo figlio) */ }
:nth-child(2n) { /* Figli pari */ }
:nth-child(even) { /* Figli pari */ }
:nth-child(2n + 1) { /* Figli dispari */ }
:nth-child(odd) { /* Figli dispari */ }
:nth-child(3n) { /* Un figlio ogni 3 */ }